body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    background-image: linear-gradient(
	    30deg, skyblue 0%, rgb(158, 212, 235) 50%,  white 100%); /* gradient background blue to white */
    border: 2px solid black; /* place a 2px border around page body */
    border-radius: 25px; /* radius the corners of the border by 25px */
    box-shadow: 5px 5px 0 0;
    width: 99%;
    text-align: left;
}

/* div styles */
div{
    font-size: 100%;
    color: black;
    text-align: left;
}

#contactInfo{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#educationalInfo{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#workInfo{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}